.yellow {
    color: #ffc107!important
}

.standard__font h1 {
    font-size: 3.2rem!important;
    font-weight: 500!important;
    text-transform: uppercase!important;
}

.drying {
    margin-top: 40rem;
}
.truck__margin {
    margin-top: 20rem;
}

.medical h1 {
    color: black !important;
    margin-top: 30rem;
}

.electronic {
    margin-top: 48rem;
}

.electronic h1{
    font-size: 18px !important;
}

